[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A Dynamic Linking Library (DLL) for SQL parsing and Connection ..Integrates with MS SQL Server.
[access "refs/*"]
	owner = group user/Med-94 (Mohamed-94)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Med-94 (Mohamed-94)
	label-Verified = -1..+1 group user/Med-94 (Mohamed-94)
	push = group user/Med-94 (Mohamed-94)
	read = group user/Med-94 (Mohamed-94)
	rebase = group user/Med-94 (Mohamed-94)
	removeReviewer = group user/Med-94 (Mohamed-94)
	submit = group user/Med-94 (Mohamed-94)
[access "refs/heads/*"]
	create = group user/Med-94 (Mohamed-94)
	push = +force group user/Med-94 (Mohamed-94)
	pushMerge = group user/Med-94 (Mohamed-94)
	read = group user/Med-94 (Mohamed-94)
[access "refs/tags/*"]
	push = group user/Med-94 (Mohamed-94)
	push = +force group user/Med-94 (Mohamed-94)
